
<ion-content class="ion-padding ion-text-center">

  <div class="logo">
  
  <img src='https://cdn-icons-png.flaticon.com/512/504/504036.png' />
  </div>
  <br>
  <div class="form">
  <ion-item lines='none'>
  <ion-input placeholder='Volledige naam'></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <ion-input placeholder='Geboortedatum'></ion-input>
  </ion-item>  

  <ion-item lines='none'>
    <ion-input placeholder='Reden'></ion-input>
    </ion-item>

  <ion-item lines='none'>
    <ion-input placeholder='Doorverwijzing toevoegen'></ion-input>
    </ion-item>
  
  <ion-button color='dark' expand='block' routerLink="/homepagina">Indienen</ion-button>
  </div>

  
  
  </ion-content>
